@font-face {
  font-family: displayFont;
  src: url(../assets/fonts/BungeeShade-Regular.ttf);
}

@font-face {
  font-family: navFont;
  src: url(../assets/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: primaryFont;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: navFont;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1800px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.colorInput {
  display: none;
}

.colorInput:checked + .header__shoes__colors__color {
  -webkit-transform: scale(1.32);
          transform: scale(1.32);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 8rem;
  width: 100%;
  min-height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 100rem;
  width: 50rem;
  height: 0.3rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#6565DC), to(#221D35));
  background-image: linear-gradient(to right, #6565DC, #221D35);
  opacity: 0.5;
}

.nav__logo {
  width: 8rem;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 50rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links__link, .nav__links__link:visited, .nav__links__link:link {
  text-decoration: none;
  color: #E5E0FF;
  font-size: 1.6rem;
  margin-right: 4rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.nav__links__link:hover, .nav__links__link:visited:hover, .nav__links__link:link:hover {
  color: #ff8725;
}

.nav__search-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8rem;
}

.nav__search-group::after {
  content: "";
  display: block;
  width: 0.05rem;
  height: 50%;
  background-color: rgba(229, 224, 255, 0.2);
  border-radius: 100rem;
  position: absolute;
  top: 50%;
  left: 3.7rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav__search-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(60%, 50%);
          transform: translate(60%, 50%);
  width: 1.8rem;
  cursor: pointer;
}

.nav__search-input {
  background-color: #3A3D64;
  border-radius: 1000rem;
  border: 0.15rem solid rgba(229, 224, 255, 0);
  padding: 1rem 2rem 1rem 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  font-family: navFont;
  color: #E5E0FF;
  min-width: 32rem;
}

.nav__search-input::-webkit-input-placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input:-ms-input-placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input::-ms-input-placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input::placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input:focus {
  border: 0.15rem solid rgba(229, 224, 255, 0.5);
}

.nav__shop-cart {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100rem;
  background-color: #3A3D64;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__shop-cart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  color: #e5e0ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__shop-cart:hover .nav__shop-cart-icon {
  color: #ff8725;
}

.nav__shop-cart:hover {
  background-color: rgba(255, 135, 37, 0.15);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.loader__container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#262427), to(#221D35));
  background-image: linear-gradient(to top right, #262427, #221D35);
}

.loader__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45rem;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#262427), to(#221D35));
  background-image: linear-gradient(to top right, #262427, #221D35);
  z-index: 10;
}

.header__circle {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(84, 82, 189, 0.753)), to(#2A295F));
  background-image: linear-gradient(to bottom right, rgba(84, 82, 189, 0.753), #2A295F);
}

.header__circle-1 {
  top: 12rem;
  right: 20rem;
  width: 8rem;
  height: 8rem;
}

.header__circle-2 {
  bottom: -10rem;
  right: -10rem;
  width: 20rem;
  height: 20rem;
}

.header__circle-3 {
  bottom: -4rem;
  left: -4rem;
  width: 10rem;
  height: 10rem;
}

.header__circle-4 {
  top: 40rem;
  right: 50rem;
  width: 17rem;
  height: 17rem;
}

.header__container {
  overflow: hidden;
  padding: 12rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  position: relative;
  font-family: displayFont;
  font-size: 11rem;
  line-height: 12rem;
  color: #7262AF;
  font-weight: 100;
  z-index: 10;
}

.header__title__container {
  position: relative;
}

.header__shoes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__shoes-img {
  width: 41rem;
  margin-right: 5rem;
}

.header__shoes__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__shoes__colors__color {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  margin-bottom: 1.6rem;
  border: 0.35rem solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__shoes__colors__color--1 {
  background-color: #DA9300;
}

.header__shoes__colors__color--2 {
  background-color: #73717B;
}

.header__shoes__colors__color--3 {
  background-color: #262966;
}

.header__shoes__colors__color--active {
  width: 4rem;
  height: 4rem;
}

.header__shoes__colors__color:last-child {
  margin: 0;
}

.header__shoes__name {
  position: absolute;
  top: 70%;
  right: 10%;
  color: #7262AF;
  font-size: 3.5rem;
}

.header__nike__animation {
  position: absolute;
  width: 80rem;
  height: 80rem;
  bottom: -40rem;
  left: -21rem;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  mix-blend-mode: overlay;
  opacity: 0.4;
}
/*# sourceMappingURL=style.css.map */