@font-face {
  font-family: displayFont;
  src: url(../assets/fonts/BungeeShade-Regular.ttf);
}

@font-face {
  font-family: navFont;
  src: url(../assets/fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: primaryFont;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: navFont;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1800px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes navAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes navNotchAnimation {
  0% {
    opacity: 0;
    width: 2rem;
  }
  100% {
    opacity: 0.5;
    width: 50rem;
  }
}

@keyframes navNotchAnimation {
  0% {
    opacity: 0;
    width: 2rem;
  }
  100% {
    opacity: 0.5;
    width: 50rem;
  }
}

@-webkit-keyframes textColorAnimation {
  0% {
    color: #7262AF;
  }
  50% {
    color: #b07fc9;
  }
  100% {
    color: #7262AF;
  }
}

@keyframes textColorAnimation {
  0% {
    color: #7262AF;
  }
  50% {
    color: #b07fc9;
  }
  100% {
    color: #7262AF;
  }
}

@-webkit-keyframes headerTitleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes headerTitleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes headerShoesAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes headerShoesAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes circleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.colorInput {
  display: none;
}

.colorInput:checked + .header__shoes__colors__color {
  -webkit-transform: scale(1.32);
          transform: scale(1.32);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 8rem;
  width: 100%;
  min-height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.nav__animation {
  -webkit-animation: navAnimation 0.5s ease-in-out;
          animation: navAnimation 0.5s ease-in-out;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 100rem;
  height: 0.3rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#6565DC), to(#221D35));
  background-image: linear-gradient(to right, #6565DC, #221D35);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: var(--boxAfterBackColor);
          animation: var(--boxAfterBackColor);
}

.nav__logo {
  width: 8rem;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 50rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links__link, .nav__links__link:visited, .nav__links__link:link {
  text-decoration: none;
  color: #E5E0FF;
  font-size: 1.6rem;
  margin-right: 4rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.nav__links__link:hover, .nav__links__link:visited:hover, .nav__links__link:link:hover {
  color: #ff8725;
}

.nav__search-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8rem;
}

.nav__search-group::after {
  content: "";
  display: block;
  width: 0.05rem;
  height: 50%;
  background-color: rgba(229, 224, 255, 0.2);
  border-radius: 100rem;
  position: absolute;
  top: 50%;
  left: 3.7rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.nav__search-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(60%, 50%);
          transform: translate(60%, 50%);
  width: 1.8rem;
  cursor: pointer;
}

.nav__search-input {
  background-color: #3A3D64;
  border-radius: 1000rem;
  border: 0.15rem solid rgba(229, 224, 255, 0);
  padding: 1rem 2rem 1rem 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  font-family: navFont;
  color: #E5E0FF;
  min-width: 32rem;
}

.nav__search-input::-webkit-input-placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input:-ms-input-placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input::-ms-input-placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input::placeholder {
  color: rgba(229, 224, 255, 0.5);
}

.nav__search-input:focus {
  border: 0.15rem solid rgba(229, 224, 255, 0.5);
}

.nav__shop-cart {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100rem;
  background-color: #3A3D64;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__shop-cart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  color: #e5e0ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__shop-cart:hover .nav__shop-cart-icon {
  color: #ff8725;
}

.nav__shop-cart:hover {
  background-color: rgba(255, 135, 37, 0.15);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.loader__container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#262427), to(#221D35));
  background-image: linear-gradient(to top right, #262427, #221D35);
}

.loader__animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45rem;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#262427), to(#221D35));
  background-image: linear-gradient(to top right, #262427, #221D35);
  z-index: 10;
}

.header__circle {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(84, 82, 189, 0.753)), to(#2A295F));
  background-image: linear-gradient(to bottom right, rgba(84, 82, 189, 0.753), #2A295F);
}

.header__circle__animation {
  -webkit-animation: circleAnimation 2s ease-in-out;
          animation: circleAnimation 2s ease-in-out;
}

.header__circle-1 {
  top: 12rem;
  right: 20rem;
  width: 8rem;
  height: 8rem;
}

.header__circle-2 {
  bottom: -10rem;
  right: -10rem;
  width: 20rem;
  height: 20rem;
}

.header__circle-3 {
  bottom: -4rem;
  left: -4rem;
  width: 10rem;
  height: 10rem;
}

.header__circle-4 {
  top: 35rem;
  right: 45rem;
  width: 17rem;
  height: 17rem;
}

.header__container {
  overflow: hidden;
  padding: 13rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  position: relative;
  font-family: displayFont;
  font-size: 11rem;
  line-height: 12rem;
  color: #7262AF;
  font-weight: 100;
  z-index: 10;
}

.header__title__container {
  position: relative;
}

.header__title__span {
  font-family: inherit;
  -webkit-animation: textColorAnimation 4s ease-in-out infinite;
          animation: textColorAnimation 4s ease-in-out infinite;
}

.header__title__animation {
  -webkit-animation: headerTitleAnimation 1s ease-in-out;
          animation: headerTitleAnimation 1s ease-in-out;
}

.header__shoes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__shoes-img {
  width: 37rem;
  margin-right: 5rem;
}

.header__shoes-img__animation {
  -webkit-animation: headerShoesAnimation 1s ease-in-out;
          animation: headerShoesAnimation 1s ease-in-out;
}

.header__shoes__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__shoes__colors__color {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  margin-bottom: 1.6rem;
  border: 0.35rem solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__shoes__colors__color--1 {
  background-color: #DA9300;
}

.header__shoes__colors__color--2 {
  background-color: #73717B;
}

.header__shoes__colors__color--3 {
  background-color: #262966;
}

.header__shoes__colors__color--active {
  width: 4rem;
  height: 4rem;
}

.header__shoes__colors__color:last-child {
  margin: 0;
}

.header__shoes__name {
  position: absolute;
  top: 70%;
  right: 10%;
  color: #7262AF;
  font-size: 3.5rem;
}

.header__nike__animation {
  position: absolute;
  width: 80rem;
  height: 80rem;
  bottom: -40rem;
  left: -21rem;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  mix-blend-mode: overlay;
  opacity: 0.4;
}

.header__slider {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  border-radius: 5rem;
  z-index: 10;
  max-width: 100rem;
  height: 15rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1000px) {
  .header__slider {
    max-width: 80rem;
  }
}

.header__slider__carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  cursor: pointer;
  border-radius: 2rem;
}

@media (max-width: 1000px) {
  .header__slider__carousel {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .header__slider__carousel {
    width: 60%;
  }
}

.header__slider__item {
  background-color: #FFF2F2;
  border-radius: 2rem;
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem 1rem 0;
  margin-right: 4rem;
}

@media (max-width: 1000px) {
  .header__slider__item {
    width: calc(100% / 2);
  }
}

@media (max-width: 700px) {
  .header__slider__item {
    width: 100%;
  }
}

.header__slider__item:first-child {
  margin-left: 3rem;
}

.header__slider__item:last-child {
  margin-right: 0rem;
}

.header__slider__item__img {
  margin-left: -3rem;
  margin-right: 1rem;
  width: 11rem;
}

.header__slider__item__data {
  color: #5352BD;
}

.header__slider__item__data__name {
  font-size: 1.7rem;
  font-weight: 800;
}

.header__slider__item__data__stars {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.header__slider__item__data__stars__star {
  width: 1.2rem;
  color: #5352BD;
}

.header__slider__item__data__stars__star-inactive {
  color: #948DCD;
}

.header__slider__item__data__price {
  font-size: 1.6rem;
  font-weight: 800;
}

.header__slider__item__data__colorNB {
  font-size: 1.1rem;
  font-weight: 600;
}

.header__slider__btn {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100rem;
  background-color: #E5E0FF;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__slider__btn__icon {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.7rem;
  color: #252229;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__slider__btn:hover .header__slider__btn__icon {
  color: #ff8725;
}

.header__slider__btn:hover {
  background-color: rgba(255, 135, 37, 0.15);
}

.header__slider__shadow {
  position: absolute;
  width: 5rem;
  height: 100%;
  border-radius: 100rem;
  z-index: 15;
}

.header__slider__shadow__left {
  top: 0;
  left: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#262427), to(transparent));
  background-image: linear-gradient(to right, #262427, transparent);
}

.header__slider__shadow__right {
  top: 0;
  right: 5rem;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(34, 29, 53, 0.253)), to(transparent));
  background-image: linear-gradient(to left, rgba(34, 29, 53, 0.253), transparent);
}
/*# sourceMappingURL=style.css.map */